header {
    border-bottom: 1px solid $color-gray-3;
    @include styleText($color-black-light, $fs-1, $fw-normal);

    .header__left {
        display: flex;
        .navbar-brand {
            img {
                width: 110px;
            }
        }
        .header__categories {
            margin: 0 15px;
            align-self: center;
        }
        .header__form {
            // Tăng kích thước cho các con dùng chung của flex
            flex-grow: 1;
            padding-top: 3px;
            .form-control {
                background-color: $color-gray-1;
                border: none;
                transition: none;
                border-right: 1px solid $color-gray-1;
                &:focus {
                    box-shadow: none;
                    background-color: $color-white-0;
                    // border-color: $color-gray-6;
                    border-top: 1px solid $color-gray-3;
                    border-left: 1px solid $color-gray-3;
                    border-bottom: 1px solid $color-gray-3;
                    border-right: none;
                }
                &:focus + .input-group-append {
                    .input-group-text {
                        color: $color-red-0;
                        background-color: $color-white-0;
                        border-top: 1px solid $color-gray-3;
                        border-right: 1px solid $color-gray-3;
                        border-bottom: 1px solid $color-gray-3;
                    }
                    &:hover .input-group-text {
                        color: $color-white-0;
                        background-color: $color-red-0;
                        border: 1px solid $color-gray-3;
                        cursor: pointer;
                    }
                }
            }
            .input-group-append {
                .input-group-text {
                    background-color: $color-gray-1;
                    color: $color-red-0;
                    border: none;
                    border-left: 1px solid $color-white-0;
                }
            }
        }
    }
    .header__right {
        .navbar-nav {
            // justify-content: space-between;
            // width: 100%;
            flex-flow: nowrap;
            white-space: nowrap;
            .nav-item {
                height: 38px;
                margin-top: $mg-0 + 1;
                border-radius: $border-radius;
                

                .nav-link {
                    @include styleText($color-black-light, $fs-1, $fw-normal);
                    padding: $pd-1 $pd-2;
                }
                &:hover {
                    background-color: $color-gray-1;
                }
            }
            .nav-item:nth-child(2){
                border-right: 1px solid $color-gray-2;
            }
            .nav-item:nth-child(3) {
                margin-right: $mg-0 + 3;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: $mg-0;
                a {
                    padding: 0.7rem 0.85rem;
                }
                &:hover {
                    background-color: none;
                }
            }
        }
    }
}
.myNavBar{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: $color-white-0;
    transition: all 0.5s;
    &.headerClass{
        border-bottom: 20px solid $color-blue;
    }
}

