.services {
    background-color: $color-white-cream;
    .service_content {
        width: 60%;
        margin: auto;
        padding: $pd-2;
        .services__item {
            background-color: $color-white-0;
            padding: $pd-2 + 4;
            margin-right: $mg-1 + 6;
            .service__img {
                margin-right: $mg-1;
            }
            .text__content {
                p {
                    @include styleText($color-gray-4, $fs-0, $fw-normal);
                    line-height: 1.5;
                }
            }
        }
    }
}
