.students {
    // width: 70%;
    // margin: auto;
    margin-top: $mg-2;
    h3 {
        @include styleText($color-gray-4, $fs-2, $fw-normal);
        margin-bottom: $mg-1 + 5;
    }
    .card-title {
        @include styleText($color-black-0, $fs-0, $fw-normal);
    }
    .card-text {
        @include styleText($color-gray-4, $fs-1, $fw-normal);
    }
    .rating {
        display: flex;
        .rating__star {
            @include styleText($color-yellow, $fs-1, $fw-normal);
            margin-right: $mg-0;
        }
        span:nth-child(2) {
            @include styleText($color-gray-4, $fs-1, $fw-bold);
            margin-right: $mg-1 - 5;
        }
        span:last-child {
            @include styleText($color-gray-4, $fs-1, $fw-normal);
        }
    }
    .price {
        text-align: right;
        .old__price {
            @include styleText($color-gray-4, $fs-1, $fw-normal);
            text-decoration: line-through;
            margin-right: $mg-1;
        }
        .new__price {
            @include styleText($color-black-0, $fs-2, $fw-bold);
        }
    }
}
